.container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.menuItem {
  height: 4rem;

  font-size: 18px;
  font-weight: 550;
  background: none;
  border: none;
  cursor: pointer;
  transition: all .3s;
}
.menuItem:hover {
  opacity: .5;
  transform: translateY(5px);
  transition: all .3s;
}
.menuItem:focus {
  outline: none;
}
